<% content_for :title do %>
	LineHive: Everybody is a storyteller
<% end %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "new" %>
	<%= stylesheet_link_tag "form" %>	
	<%= stylesheet_link_tag "overview" %>	
	<%= stylesheet_link_tag "timeline" %>	
	<%= stylesheet_link_tag "smoothness/jquery.ui.datepicker.css" %>	
<% end %>


<% content_for :javascripts do %>

<%= javascript_include_tag "jquery.ui.datepicker.js" %>

<% end %>


<div id="linehive_description">
	<h2>LineHive lets anybody tell mini-stories.</h2>
	<h3>You collect links and we turn them into beautiful timelines to share with the world.</h3>	
</div>


<div class="space_10"></div>

<div class="space_10"></div>

<fieldset>
	<div class="small_columns">
		<div class="maincol">
			
			<% examples = [79, 53, 75, 90, 56, 84, 54, 88, 89 ] %>
						
			<% for example in examples do %>
				<div style="float:left;width:920px;height:300px;border:0px solid #808080"> 
					<iframe frameborder="0" width="920" height="300" src="<%= url_for :controller => "trails", :action => "embed", :id => example %>"></iframe> 
				</div>			
			<% end %>

		</div>
		
		<div class="clear"></div>
	</div>
	
</fieldset>
