<% content_for :title do %>
	Search Results - <%= params[:query] %>
<% end %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "miniline" %>

<% end %>

<h2>


<h2>
	Search Results: <%= params[:query] %>
</h2>

<div class="space_30"></div>

<% if @trails.size == 0 %>
	<h3 style="text-align:center">
		Sorry - could not find any timelines for "<%= params[:query] %>"
	</h3>
	<div id="linehive_description">
	
	</div>


<% else %>

	<% for trail in @trails %>
		<%= render :partial => "trails/miniline", :locals => {:trail => trail} %>
		<div class="space_30"></div>
	<% end %>

<% end %>

<!--<ul>
	<li>
		<%# link_to trail.caption, :controller => "trails", :action => "show", :id => trail.id  %>
	</li>
</ul>-->