<% content_for :title do %>
	Search Results - <%= params[:query] %>
<% end %>

<% content_for :description do %>LineHive. Hyperlink storytelling: As we browse news stories, we make mental connections between pages. 'Hyperlink storytelling' is putting those links together to create mini-stories. Our algorithms automatically create timelines to make your mini-story a mini-beauty. Thinking through linking. Browse the connections others make of the same news stories.
<% end %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "miniline" %>

<% end %>

<h2>


<h2>
	Search Results for "<%= params[:query] %>"
</h2>

<div class="space_30"></div>

<% if @trails.size == 0 %>
	<h3 style="text-align:center">
		Sorry - could not find any timelines for "<%= params[:query] %>"
	</h3>
	<div id="linehive_description">
	
	</div>


<% else %>

	<% for trail in @trails %>
		<%= render :partial => "trails/miniline", :locals => {:trail => trail} %>
		<div class="space_30"></div>
	<% end %>

<% end %>


<%= will_paginate @trails %>