
<div class="article form">
	<div class="header">
		
		<div class="meta">
			<div class="date">
					<%= date  %>
					<!-- <input type="text" name="header" style="width:75px;text-align:right" value="<%= date %>">	-->						
				</div>
				<div class="source">
					<%= source %>
				</div>					
		</div>
		
		<div class="header_text">			
			<input type="text" class="inline" name="header" style="width:50%;" value="<%= header %>">
		</div>
		
	</div>
	<div class="thumbnail_picker">
		<div class="thumbnail_controls"><span class="prev"><a href="#">Prev</a></span> <span class="next"><a href="#">Next</a></span></div>	
		<div class="thumbnail">
			
			<img src="<%= urls[0] %>" width="150">
			<ul class="thumbnail_links" style="display:none">
				<% urls.each_with_index do |url, index| %>
					<% if index == 0 %>
						<li class="selected"><%= url %></li>						
					<% else %>
						<li><%= url %></li>
					<% end %>
				<% end %>
			</ul>
		</div>
	
	</div>

	<div class="notes">
		<span class="input_label">Comments (Place article excerpts in "quotes")</span>		
		<textarea style="width:72%;height:100px;resize:none"><%= notes %></textarea>		
	</div>

	<div class="clear"></div>
</div>
