<div class="mini_timeline">
	
	<% if trail.user %>
		<div class="author">by: <%= link_to trail.user.username, :controller => "user", :action => "profile", :username => trail.user.username %></div>	
	<% end %>

	<div class="caption">
		<% if trail.caption.strip == "" %>
			<%= link_to "Untitled", :controller => "trails", :action => "show", :id => trail.id %>			
		<% else %>
			<%= link_to trail.caption, :controller => "trails", :action => "show", :id => trail.id %>			
		<% end %>

	</div>
	
	<div class="events">	
		<% for article in trail.articles %>
			<div class="event">
				<div class="thumbnail">
					<img src="<%= article.image_url %>" />
				</div>
				<div class="url">
					<%= article.url %>
				</div>
				<div class="headline" title="<%= article.headline %>">
					<%= article.headline %>
				</div>
			</div>
		<% end %>
	</div>

</div>