<div id="mini_timeline">
	<% cur_num = 0 
	if ! defined?(num)
		num = -1
	end
	%>
	<% if trail.user %>
		<div id="author">by: <%= trail.user.username %></div>	
	<% end %>

	<div id="caption"><%= link_to trail.caption, :controller => "trails", :action => "show", :id => trail.id %></div>
	<div id="events">
		<% for article in trail.articles %>
			<div id="event" title="<%= article.headline %>" <%= if cur_num == num then "class=\"highlight\"" end %>
			<% cur_num = cur_num + 1 %>
			<%= if num > -1 then "onclick=\"window.open('" + article.url + "'); return false;\" " end %> >
				<div class="thumbnail"> 
					<img src="<%= article.image_url %>" /> 
				</div> 
				<div class="headline" title="<%= article.headline + "\n" + "Open: " + article.url%>"> 
					<%= article.headline %> 
				</div> 
			</div> 
		<% end %> 
	</div>
</div>