<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
	<meta http-equiv="x-ua-compatible" content="IE=8">
		
	<%= stylesheet_link_tag "timeline" %>			

	<%= stylesheet_link_tag "embed" %>			
	<%= stylesheet_link_tag "orange" %>

	<style type="text/css" media="screen">
		body {
			background-color:white;
		}
	</style>

	<%= default_javascript %>

	<%= javascript_include_tag "timeline.js" %>
	<%= javascript_include_tag "jquery.autoellipsis.js" %>
	<%= javascript_include_tag "jquery.create.js" %>
	<%= javascript_include_tag "jquery.easing.1.3.js" %>
	<%= javascript_include_tag "jquery.mousewheel.js" %>

		
	<script type="text/javascript" charset="utf-8">

		meta_show_callback = function () {
			$(".meta .headline").autoEllipsis();
		}

		$(function() {
			$("#caption a").autoEllipsis();
			timeline.show_meta = false;
			timeline.init(<%= @articles.to_json %>);
		
		});

	</script>

	<%= render :partial => "shared/analytics" %>
		
	</head>

	<body id="" onload="">
	
		<!--
		<div id="logo">
			<a href="<%# url_for :controller => "home", :action => "index", :only_path => false %>">
				<%# image_tag "logo_black.png", :width => "110" %>
			</a>
		</div>
		-->
		<div id="actions">
		
		</div>
	

		<% url = url_for :controller => "trails", :action => "show", :id => @trail.id, :only_path => false %>
		<h3 id="caption"><a href="<%= url %>" onclick="window.open('<%= url %>'); return false;" target="_blank"><%= @trail.caption %></a></h3>
		<div style="">

		<%= render :partial => "timeline", :locals => { :noedit => true } %>

		</div>
	
	</body>
</html>
