<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "new" %>
	<%= stylesheet_link_tag "form" %>	
	<%= stylesheet_link_tag "overview" %>	

<% end %>


<% content_for :javascripts do %>

<script type="text/javascript" charset="utf-8">

	function add_url() {
		console.log("here");
		
		
		var text = $("#urls").val();
		console.log(text);
		$("#loader").show();
		
		
		jQuery.ajax({
        type: "POST",
        url: "<%= url_for :controller => "trails", :action => "process_urls"  %>",
        dataType:"html",
        data:{urls : text },
        success:function(data){
					$("#articles").append(data);
					$("#loader").hide();
					
					var offset = $(".article:last").offset();
					
					window.scrollTo(offset.left, offset.top);
        },
        error:function (xhr, ajaxOptions, thrownError){
					alert("Error Occured");
        }    
    });
    
		$("#urls").text("");
		
		
		
		
	}
	
	function add_url_keydown(event) {
		if(event.which == 13) {
			add_url();
			return false;
		}
	}
	
	function trail_close() {
		if($(".trail_item").size() > 1) {
			$(this).parent(".trail_item").remove();
		}
	}
	
	function initSortables() {
		$("#trail").sortable( {
			axis: 'y',
			containment: '#trail',
			cursor: 'pointer',
			handle: '.trail_handle',
		})
	}

	$(function() {
		
		$("#urls").keypress(add_url_keydown);
		$("#add_urls").click(add_url);
		
		$(".url_text").Watermark("url");
		$(".subtitle_text").Watermark("your thoughts...");   
		
		initSortables();
		
		$("#add_button").click(function() {
			
			var dom = '<div class="trail_item"> \
				<div class="trail_close"></div>	\
				<div class="trail_handle"></div> \
\
 				<div class="trail_form"> \
					<p> \
						<input type="text" name="url" value="" class="url_text"> \
					</p> \
					<p> \
						<textarea name="subtitle" rows="3" cols="40" class="subtitle_text"></textarea> \
						<!-- ><input tye="text" name="url" value="" class="subtitle_text"> --> \
					</p> \
				</div> \
			</div>';
			
			$("#trail").append(dom);
			
			$(".url_text").Watermark("url");
			$(".subtitle_text").Watermark("your thoughts...");   

			$(".trail_close").click(trail_close);

			initSortables();
			
		});
		
		$(".trail_close").click(trail_close);
		
		$("#submit_button").click(function() {
			
			//$.Watermark.HideAll();
	   
			
			var data = { title: "", links: [] };
			data["title"] = $("#title").val();
			
			$(".trail_item").each(function(item) {
				var url = $(".url_text", item).val();
				var comment = $(".subtitle_text", item).val();
				var item = { "url" : url, "comment" : comment };

				data["links"].push(item);				
			});
			
			var string = JSON.stringify(data);
			alert(string);
			
			//$.Watermark.ShowAll();
			
			$("#loader").show();
	   	$.post("<%= url_for :controller => "home", :action => "submit"  %>", {trail : data }, function() { 
				$("#loader").hide(); 
				$("#trail_input").val(string); 
				$("#post_back").submit();
			}, "script");
			
		});
		
		
	});
</script>



<% end %>


<h2>Create New Trail <span style="font-size:12px; font-weight:normal">(<%= link_to "Other ways to create trails", :controller => "home", :action => "how" %>)</span></h2>


<fieldset>

	<div class="small_columns">
		<div class="maincol">
			<label for="title" class="large_label" >Trail Title:</label>
			<input type="text" name="title" value="<%= params[:title] %>" style="width:100%" id="title" class="large_text">
		</div>
		<div class="sidecol">
			<div class="round_box" style="margin-top:15px">
				150 Characters Remaining
			</div>
		</div>
		<div class="clear"></div>
	</div>

</fieldset>


<fieldset style="border:none">

	<div class="small_columns">
		<div class="maincol">
			<label for="topics" class="large_label" >Topics:</label>
			<textarea name="topics" id="topics" class="large_text" style="width:100%;resize:none;height:50px;"></textarea>
		</div>
		<div class="sidecol">
			<div class="round_box" style="margin-top:15px">
				Keywords that describe your trail. Comma separated. 
			</div>
		</div>
		<div class="clear"></div>
	</div>

</fieldset>


<!--
<fieldset>

	<div class="small_columns">
		<div class="maincol">
			<label for="description" class="large_label" >Description:</label>
			<textarea name="description" id="description" class="large_text" style="width:100%;resize:none;height:75px;"></textarea>
		</div>
		<div class="sidecol">
			<div class="round_box" style="margin-top:15px">
				150 Characters Remaining
			</div>
		</div>
		<div class="clear"></div>
	</div>

</fieldset>
-->


<fieldset style="">
	
	<div class="small_columns">
		<div class="maincol">
			<label for="urls" class="large_label" >URLs:</label>
			<br>
			
			<div class="space_20"></div>
			
			
			<div id="articles">
				<% 0.times do %>
	
				<%= render :partial => "article", :locals => 	{
			      :url => "http://www.google.com",
			      :header => "Some header information",

			      :date => Time.now.rfc2822,
			      :source => "cnn.com",

			      :notes => "\"This is a sample paragraph that is included\""
			    } %>
	
				<% end %>
				
			</div>
			
			
			
			<input type="button" id="add_urls" class="url_add_button" value="Add">
			<textarea name="urls" id="urls" id="urls" class="large_text" style="width:520px;resize:none;height:75px;"><%= params[:urls] %></textarea>
			<%= image_tag "loader.gif", :style => "float:right;margin-right:20px;", :id => "loader" %>
			
			<div class="space_20"></div>
	
	
	
		</div>
		<div class="sidecol">
			<div class="round_box" style="margin-top:15px">
				Type or paste in as many URLs as you want and hit <b>Enter</b> to add them to your trail.
				
				<p>
					<a href="#">Sort by Date</a>
				</p>
				
				<!--<p>After adding your URLs, you can edit the auto-populated information before creating your trail.</p>
				<p>The links in your trail will be automatically sorted in chronological order based on the date found inside the article.</p>-->
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
	
</fieldset>






<div id="buttons">
		<%= image_tag "loader.gif", :id => "loader" %>
		<!-- <input type="button" name="preview" value="Preview" id="preview_button" class="trail_button" />
		<input type="button" name="submit" value="Submit" id="submit_button" class="trail_button" /> -->
				
		<% form_tag({:controller => "home", :action => "preview" }, {:id => "post_back"})  do %>
			<input type="hidden" name="trail" value="" id="trail_input"> 
		<% end %>
		
		
		<!--
		<%= button_to "Preview", {:controller => "trails", :action => "show"}, { :class => "trail_button"} %>
		-->
		<%= button_to "Create", {:controller => "trails", :action => "show"}, { :class => "trail_button"} %>
		

</div>


