<% content_for :title do %>
	LineHive: <%= @trail.caption %>
<% end  %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "overview" %>
	<%= stylesheet_link_tag "form" %>
	<%# stylesheet_link_tag "hoverline" %>		
	<%# stylesheet_link_tag "timeline" %>		
	<%= stylesheet_link_tag "timeline" %>			
<% end %>

<% content_for :javascripts do %>
	
	<%= javascript_include_tag "timeline.js" %>
	<%= javascript_include_tag "jquery.ui.datepicker.js" %>
	<%= javascript_include_tag "jquery.easing.1.3.js" %>
	<%= javascript_include_tag "jquery.create.js" %>

	
	
	
	<script type="text/javascript" charset="utf-8">

		$(function() {
			timeline.init(<%= @articles.to_json %>);
		});
	
	</script>
	
<% end %>

<div id="trail_header">
	
	<div id="trail_buttons">
		
	</div>
	
	<h2><%= @trail.caption %></h2>
	<div id="trail_subheading">
		Created on <b><%= @trail.created_at %></b>
	</div>
	
</div>

<div style="margin-top:50px;margin-bottom:35px">

	<%= render :partial => "timeline", :locals => { :noedit => true } %>


</div>

<form name="inputs">

<div id="urlbox">
	<input name="embed" value='<iframe frameborder="0" width="600" height="235" style="float:left;width:600px;height:230px;border:0px solid #808080" src="<%= url_for :controller => "trails", :action => "show", :id => @trail.id, :only_path => false %>"></iframe>' 
	style="width:200px; float:right; margin-right:200px;" onclick="javascript:document.inputs.embed.focus();document.inputs.embed.select();">
	<span style="float:right; margin-right:5px; font-weight:bold">Embed</span>
	<input name="url" value="<%= url_for :controller => "trails", :action => "show", :id => @trail.id, :only_path => false %>" onclick="javascript:document.inputs.url.focus();document.inputs.url.select();" style="width:200px; float:right;margin-right:50px;">
	<span style="float:right;margin-right:5px; font-weight:bold;">URL</span>
</div>
</form>
<div class="clear">