<% content_for :title do %>
	Trail - Earthquake in Haiti
<% end  %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "overview" %>
	<%= stylesheet_link_tag "form" %>
	<%= stylesheet_link_tag "hoverline" %>		
	<%# stylesheet_link_tag "timeline" %>		
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" charset="utf-8">


		$(function() {
			var top = $("#footer").offset().top + 40 - parseFloat($(window).height());
			
			
			console.log("Top: " + top);
			console.log("Other Top: " + ($("#hoverline_end").offset().top - parseFloat($(window).height())));
			

	    $(window).scroll(function (event) {
		
		
	      // what the y position of the scroll is
	      var y = $(this).scrollTop();

			console.log(y);

	      // whether that's below the form
	      if (y >= top) {
	        // if so, ad the fixed class
	        $('#hoverline').addClass('static');
	        $('#hoverline_back').addClass('static');
	      } else {
	        // otherwise remove it
	        $('#hoverline').removeClass('static');
	        $('#hoverline_back').removeClass('static');
	      }
	    });			
		});


    
		
		
	

		function tab_click() {
			
			$("#trail_tab_box_header .selected").removeClass("selected");
			$(this).addClass("selected");
			
			
			$(".tab_panel").hide();
			var i = $(this).attr("href");
			$(i).show();
			return false;
		}

		$(function() {
			
			$(".tab_panel").hide();
			$(".tab_panel:first").show();
			$("#trail_tab_box_header a:first").addClass("selected");
			
			$(".tab").click(tab_click);
			
			$(".step").click(function() {
				$(".step.selected").removeClass("selected");
				$(this).addClass("selected");
				$("#story_overview").show();
			});
			
			$("#close").click(function() {
				$(".step.selected").removeClass("selected");
				$("#story_overview").hide();
			});
			
			$("#start_slide_show").click(function() {
				window.location = "fullscreen.html";
			});
			
		});
	</script>
	
<% end %>


<div id="hoverline_back"></div>
<div id="hoverline">
	Timeline Here!
</div>


		
<div id="story_overview">
	<div id="close">&nbsp;</div>
	<div id="date">
		<a href="#">11/16/2009</a>
	</div>
	<div id="source">
		<a href="#">nytimes.com</a>
	</div>
	<div id="subtitle">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	<div id="containing_trails">
		<a href="#">Trails containing this link.</a>
	</div>
</div>
															

<div id="trail_header">
	
	<div id="trail_buttons">
		<input type="button" value="Make Response" class="trail_button" />
		<%= button_to "Start Slideshow", { :controller => "trails", :action => "slideshow"}, {:class => "trail_button"} %>
	</div>
	
	<h1>Earthquake in Haiti</h1>
	<div id="trail_subheading">
		by <b>CoolUsername</b> - on <b>6/10/2010</b> - <b>5,698</b> Views 
	</div>

	
</div>


<div id="trail_description">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	
</div>



<div class="columns" >
	<div class="maincol">
		
		<div class="article">
			<div class="header">
				<div class="meta">
					<div class="date">Yesterday</div>
					<div class="source">cnn.com</div>					
				</div>

				<div class="header_text">Lorem ipsum dolor sit amet, consectetur</div>
			</div>
			<div class="thumbnail">
				<%= image_tag "thumbs_150.png", :size => 100 %>
			</div>
			<div class="notes">
<p>				Description: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
<p>
	<a href="#">Trails Containing This Link</a>
</p>
			</div>
			
			<div class="clear"></div>
		</div>

		
		
	</div>

	<div class="sidecol">
		<div class="trail_box">
			<h1 class="trail_box_header">
				Information
			</h1>

			<div class="trail_box_contents">
				<div id="user_info">
					<%= image_tag "default_avatar.png" %>
					<a href="#">SomeUserNameHere</a>
				</div>	

				<div class="clear"></div>

				<p class="trail_form_row">
					<label class="label">Created:</label>
					<label class="content">10/15/2010</label>
					<br />
				</p>
				<p class="trail_form_row">
					<label class="label">Views:</label>
					<label class="content">105,156 Views</label>
					<br />							
				</p>
				<p class="trail_form_row">
					<label class="label">Tags:</label>
					<label class="content">
						<textarea style="width:188px; height:50px;resize: none;"></textarea>
					</label>
					<br />							
				</p>
				<p class="trail_form_row">
					<label class="label">URL:</label>
					<input class="content" style="width:188" type="text">


					<br />							
				</p>	
				<p class="trail_form_row">
					<label class="label">Embed:</label>
								<label class="content">
									<textarea style="width:188px; height:50px;resize: none;"></textarea>
								</label>

					<br />							
				</p>
				<p class="trail_form_row">
					<label class="label">Share:</label>
					<label class="content">
						<a href="#">twitter</a>
						<a href="#">facebook</a>
						<a href="#">digg</a>
						<a href="#">more...</a>
					</label>
					<br />							
				</p>																													
			</div>

		</div>


			<div class="trail_box">
				<h1 class="trail_box_header">
				 	Responses
				</h1>

				<div class="trail_box_contents">
					Loading...																				
				</div>

			</div>

		
	</div>



	
	<div class="clear"></div>
</div>

<div id="hoverline_end"></div>





