<% content_for :title do %>
	Trail - <%= @trail.caption %>
<% end  %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "overview" %>
	<%= stylesheet_link_tag "form" %>
	<%# stylesheet_link_tag "hoverline" %>		
	<%# stylesheet_link_tag "timeline" %>		
	<%= stylesheet_link_tag "timeline" %>			
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "timeline.js" %>
	<%= javascript_include_tag "jquery.ui.datepicker.js" %>
	
	
	
	<script type="text/javascript" charset="utf-8">

		$(function() {
			timeline.init(<%= @articles.to_json %>);
		});
	
	</script>
	
<% end %>

<div id="trail_header">
	
	<div id="trail_buttons">
		
	</div>
	
	<h2><%= @trail.caption %></h2>
	<div id="trail_subheading">
		Created on <b><%= @trail.created_at %></b>
	</div>
	
</div>

<div style="margin-top:50px;margin-bottom:35px">
	<div id="timeline" class="noedit">
	
		<div class="meta">
			<div class="headline">
				&nbsp;
			</div>
			<div class="source">
				&nbsp;
			</div>
		</div>
		<div class="meta_callout">&nbsp;</div>
	
	
		<div class="empty">
			No Events
		</div>			

		<div id="scale">&nbsp;</div>
	</div>
</div>




