<% content_for :title do %>
	LineHive: <%= @trail.caption %>
<% end  %>

<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "overview" %>
	<%= stylesheet_link_tag "form" %>
	<%# stylesheet_link_tag "hoverline" %>		
	<%# stylesheet_link_tag "timeline" %>		
	<%= stylesheet_link_tag "timeline" %>			
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "timeline.js" %>
	<%= javascript_include_tag "jquery.ui.datepicker.js" %>
	
	
	
	<script type="text/javascript" charset="utf-8">

		$(function() {
			timeline.init(<%= @articles.to_json %>);
		});
	
	</script>
	
<% end %>

<div id="trail_header">
	
	<div id="trail_buttons">
		
	</div>
	
	<h2><%= @trail.caption %></h2>
	<div id="trail_subheading">
		Created on <b><%= @trail.created_at %></b>
	</div>
	
</div>

<div style="margin-top:50px;margin-bottom:35px">
	<div id="timeline" class="noedit">
	
		<div class="meta">
			<div class="headline">
				&nbsp;
			</div>
			<div class="source">
				&nbsp;
			</div>
		</div>
		<div class="meta_callout">&nbsp;</div>
	
		<div class="events">
			<div class="empty">
				No Events
			</div>			
		</div>

		<div id="scale">&nbsp;</div>

	</div>
</div>
<form name="inputs">
<div id="urlbox">
	<input name="url" value="http://www.linehive.com/show/<%= @trail.id %>" onclick="javascript:document.inputs.url.focus();document.inputs.url.select();" style="width:500px; float:right;">
	<span style="float:right;margin-right:5px; text-weight:bold">URL</span>
</div>
<div id="embedbox">
	<input name="embed" value='<iframe frameborder="0" width="600" height="235" style="float:left;width:600px;height:230px;border:0px solid #808080" src="http://linehive.com/embed/<%= @trail.id %>"></iframe>' 
	style="width:500px; float:right;" onclick="javascript:document.inputs.embed.focus();document.inputs.embed.select();">
	<span style="float:right; margin-right:5px; text-weight:bold">Embed</span>
</div>
</form>
<div class="clear">