<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= yield :title %></title>
		
		
		<%= stylesheet_link_tag "global.css" %>	
		<%= stylesheet_link_tag "layout.css" %>	
		
		<%= yield :stylesheets %>
		
		<%= default_javascript %>
		<%= yield :javascripts %>
				
	</head>
	
	<body>
		<div id="header">
			
			<div id="header_wrapper">
					
						<div id="logo">
							<%= link_to image_tag("logo.png", :border=>0), :controller => 'home', :action => 'index' %>
						</div>

						<div id="top_links">
							<div id="search">
								<input type="text" name="search" value="Search..." id="search_box" />
							</div>
							<ul>
								<li><%= link_to "Create Trail", :controller => "trails", :action => "new" %></li>
								<li><%= link_to "Explore", :controller => "home", :action => "explore" %></li>
							</ul>



						</div>
						
						
			</div>
			
	
			
		</div>
		
		<div id="content">
			<%= yield %>
		</div>	
				
		<div id="footer">
			<div id="footer_wrapper">
				<ul>
					<li>&copy; 2010 Trailr</li>
					<li><%= link_to "About", :controller => "home", :action => "about" %></li>
					<li><%= link_to "Contact", :controller => "home", :action => "contact" %></li>
					<li><%= link_to "API", :controller => "home", :action => "api" %></li>				
					<li><%= link_to "Terms", :controller => "home", :action => "terms" %></li>				
					<li><%= link_to "Privacy", :controller => "home", :action => "privacy" %></li>				

				</ul>				
			</div>

		</div>
		
	</body>
	
</html>