<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html>
	<head>
		<meta http-equiv="x-ua-compatible" content="IE=8">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title><%= yield :title %></title>
		
		<%= stylesheet_link_tag "global.css" %>	
		<%= stylesheet_link_tag "layout.css" %>	
		<%= yield :stylesheets %>
		<%= stylesheet_link_tag "orange.css" %>	

		
		<%= default_javascript %>
		<%= yield :javascripts %>
		
		<script type="text/javascript" charset="utf-8">
			
			var cleared = false;
			
			$(function() {
				
				$(".notice").slideDown();
				setTimeout ( function() {
					$(".notice").slideUp();
					$(".notice").fadeOut();
				}, 3000 );
				
				
				$("#search_box").focus(function() {
					if(!cleared) {
						$(this).val("");
						cleared = true;
					}
				});
				/*
				if(!($.browser.webkit || $.browser.mozilla)) {
					$(".browser_check").show();
				}
				
				$("#close_browser_check").click(function() {
					$(".browser_check").hide();
				});
				*/
				
				
			});
		</script>
				
				
		<%= render :partial => "shared/analytics" %>
				
	</head>
	
	<body>
		
		<div id="browser_check" class="browser_check">
			&nbsp;
		</div>
		<div id="browser_check_message" class="browser_check">

			<div class="space_10"></div>
			<h3>Pardon our mess...</h3>
			<div class="space_10"></div>
			
			<p>LineHive is currently only supported in <b>Safari</b>, <b>Firefox</b>, and <b>Chrome</b>. We are currently in <b>Alpha</b> and hope to add support for other browsers soon! Thanks so much for your patience!</p>
			<p>Feel free to continue, just realize that somethings may not work correctly...</p>
			<div class="space_10"></div>
			<p>
				<input type="button" name="" value="Continue" id="close_browser_check" class="trail_button" />					
			</p>
		</div>
		
		
		<div id="header">
			
			<div id="header_wrapper">
					
						<div id="logo">
							<%# link_to image_tag("logo.png", :border=>0), :controller => 'home', :action => 'index' %>
							<%# link_to image_tag("logo2.png", :border=>0), :controller => 'home', :action => 'index' %>
							<%# link_to image_tag("logo3.png", :border=>0), :controller => 'home', :action => 'index' %>
							<%# link_to image_tag("logo4.png", :border=>0, :height => 45), :controller => 'home', :action => 'index' %>
							<%= link_to image_tag("logo5.png", :border=>0, :height => 30), :controller => 'home', :action => 'index' %>
							<!--
							<span style="position:absolute;top:40px;/*left:7px;*/left:18px;font-size:11px">
								Everybody is a storyteller	
							</span>
							-->
						</div>
			
						<%# link_to "Recent Timelines", :controller => "user", :action => "account" %>
						<!--<li><%# link_to "Explore", :controller => "home", :action => "explore" %></li>-->
						
						<div id="top_links">
						

							<div id="search">
								<% form_tag({:controller => "search", :action => "results" })  do %>
									<input type="submit" name="search_button" value="" id="search_button">
									<input type="text" name="query" value="<%= params[:query] ||= "Search..." %>" id="search_box" />
								<% end %>
							</div>

							<ul>
								
								<% if current_user %>
									<!-- REMOVE THIS FOR THE NEW THEME
									<li class="first">
										Hi, <%= current_username %>
									</li>
									-->
									<li>	
										<%# link_to "Account", :controller => "user", :action => "account" %>
										<%= button_to "Account", {:controller => "user", :action => "account"}, {:class => "trail_button"} %>
									</li>
									<li>
										<%# link_to "Sign Out", :controller => "user", :action => "signout" %>
										<%= button_to "Sign Out", {:controller => "user", :action => "signout"}, {:class => "trail_button"} %>
									</li>
								<% else %>
									<li class="first">
										<%# Previously, this was a link_to %>
										<%= button_to "Sign In / Join", {:controller => "user", :action => "signon"}, {:class => "trail_button"} %>
										<%# link_to "Sign In / Join", {:controller => "user", :action => "signon"} %>
									</li>
								<% end %>
								
								<li id="create_timeline_link">
									<%# Previously, this was a link_to %>
									<%= button_to "Create Timeline", {:controller => "trails", :action => "new"}, {:class => "trail_button"} %>
								</li>
																
							</ul>
							<div class="clear"></div>
							
							<br><br>
							
						</div>
						
						
			</div>

			<div id="color_bar">
				<div id="color_bar_wrapper">
					<div class="color" style="float:left;width:25%;background-color:#f8bd29">&nbsp;</div>
					<div class="color" style="float:left;width:25%;background-color:#e05d4c">&nbsp;</div>
					<div class="color" style="float:left;width:25%;background-color:#02a1ea">&nbsp;</div>
					<div class="color" style="float:left;width:25%;background-color:#fc3f8d">&nbsp;</div>
				</div>

			</div>

		</div>
		
		
		<div style="background-color:white">
			<a href="http://bugs.linehive.com/" id="feedback">&nbsp;</a>
			<div id="content">
				
				<% if !defined? @show_notifications then @show_notifications = true end %>
				<% if @show_notifications  %>
					<% if flash[:notice] %>
						<div class="notice">
							<%= flash[:notice] %>
						</div>
					<% end %>
				
					<% if flash[:error] %>
						<div class="error">
							<%= flash[:error] %>
						</div>
					<% end %>
				<% end %>
				<%= yield %>
			</div>	
		</div>
						
		<div id="footer">
			<div id="footer_wrapper">
				<ul>
					<li>&copy; 2010 LineHive.com</li>

					<li><%= link_to "Home", :controller => "home", :action => "index" %></li>
					<li><%= link_to "Team", :controller => "home", :action => "team" %></li>	
					<li><%= link_to "About", :controller => "home", :action => "about" %></li>
					<li><%= link_to "JetPack", :controller => "home", :action => "jetpack" %></li>
					<li><%= link_to "Create", :controller => "trails", :action => "new" %></li>
					
					<!--
					<li><%# link_to "About", :controller => "home", :action => "about" %></li>
					<li><%# link_to "Contact", :controller => "home", :action => "contact" %></li>
					<li><%# link_to "API", :controller => "home", :action => "api" %></li>				
					<li><%# link_to "Terms", :controller => "home", :action => "terms" %></li>				
					<li><%# link_to "Privacy", :controller => "home", :action => "privacy" %></li>				
					-->
				</ul>				
			</div>

		</div>
		
	</body>
	
</html>