<% content_for :title do %>
	LineHive: Your Account
<% end %>

<% content_for :stylesheets do %>	
	<%= stylesheet_link_tag "form" %>	
	<%= stylesheet_link_tag "signon" %>	
	<%= stylesheet_link_tag "account" %>		
	
<% end %>


<%# form_tag :controller => :user, :action => :process_edit do %>
	
<div class="account_info">
		
		<div class="two_columns">
			
			<div class="left">
				<h2>Username:</h2>	
				<b><%= @user.username %></b>
			</div>
			
			<div class="right">
				<h2>Email:</h2>
				<b><%= @user.email %></b>
			</div>
			
		</div>


	
</div>		
	
		
<%# end %>





<div class="equal_columns">	
	<div class="left" >
		<h2>Published Timelines</h2>
		<ul>		
			<% for @trail in @trails %>
				<% url = url_for :controller => "trails", :action => "show", :id => @trail.id, :only_path => false %>
				<li><a href="<%= url %>" onclick="window.open('<%= url %>'); return false;" target="_blank"><%= @trail.caption %></a></li><br>
			<% end %>
		</ul>
		<% if @trails.size == 0 %>
			<p>You have not created any timelines yet. Start one <%= link_to "here", :controller => 'trails', :action => 'new' %>.</p>
		<% end %>
	</div>

	<div class="right">
		<h2>Timeline Drafts</h2>
		
		<ul>		
			<% for @draft in @drafts %>
				<% url = url_for :controller => "trails", :action => "draft", :id => @draft.id, :only_path => false %>
				<li>
					<a href="<%= url %>" onclick="window.open('<%= url %>'); return false;" target="_blank">
						<% caption = @draft.caption %>
						<% caption.strip! %>
						<%= if caption != "" then caption else "Untitled" end %>
					</a>
					(saved at <%= @draft.updated_at %>)
				</li>
				<br>
			<% end %>
		</ul>
		<% if @drafts.size == 0 %>
			<p>You do not have any drafts. To save a draft, click the 'Save Draft' button on the create timeline page. Try it out now: <%= link_to "Create Timeline", :controller => 'trails', :action => 'new' %>.</p>
		<% end %>
		
		
		
	</div>
	
	<div class="clear"></div>
	
</div>

