<% bread_crumb "
#{link_to "Home", :controller => "search", :action => "home"} »
#{link_to "Log In", :controller => :user, :action => "signon"}" %>
<% title "linehive: Log In" %>

<% if defined? @user %>

<% unless @user.errors.empty? %>
<div class="error">
  The post couldn't be saved due to these errors:
  <ul>
  <% @user.errors.each_full do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
</div>
<% end %>

<% end %>


<div class="login">
	<div class="right">
		
		<% form_tag :controller => :user, :action => :process_create do %>
			<fieldset>
				<legend>Create an Account</legend>					
					<p>
						<label>Username</label>
						<%= text_field :user, :handle %>
						<span class="clear"></span>
					</p>
					
					<p>
						<label>Email Address</label>
						<%= text_field :user, :email %>
						<span class="clear"></span>
					</p>

					<p>
						<label>Password</label>
						<%= password_field :user, :password %>
						<span class="clear"></span>
						
					</p>
					
					<p>
						<label>Confirm Password</label>
						<%= password_field_tag "confirm_password", nil, :size => 30 %>			
						<span class="clear"></span>
					</p>

					<p class="input"><%= submit_tag "Create" %></p>
			</fieldset>
		<% end %>
	
	
	</div>
	<div class="left">
		<% form_tag :controller => :user, :action => :process_signon do %>
			<fieldset>
				<legend>Login with account</legend>
					<p>
						<label>Email</label>
						<%= text_field :user, :email %>
						<span class="clear"></span>
					</p>
					
					<p>
						<label>Password</label>
						<%= password_field :user, :password %>
						<span class="clear"></span>
						
					</p>
					<div class="clear"></div>
					<p class="input"><input type="submit" value="Sign On"></p>
			</fieldset>
		<% end %>
		
		<form>
			<div style="text-align:center;padding:35px">
				<h2>Don't have an account?</h2>
				<h3>Create one. It's easy! &raquo;</h3>
			</div>
		</form>
		
	</div>
	
	<div class="clear"></div>
</div>
