<% content_for :title do %>
	LineHive: Log In
<% end %>

<% content_for :stylesheets do %>	
	<%= stylesheet_link_tag "form" %>	
	<%= stylesheet_link_tag "signon" %>	
<% end %>

<%# Errors for the users %>
<% if defined? @user %>
	<% unless @user.errors.empty? %>
	<div class="error">
		<%= error_messages_for 'user', :header_message => "", :message => "" %>
	</div>
	<% end %>

<% end %>





	
<div class="login">
	<div class="right">
		
		<% form_tag :controller => :user, :action => :process_create do %>
			<h2>Create an Account</h2>
			<div class="account_form" style="border:1px solid #ccc">
				
					<div class="row">
						<label class="label">Username</label>
						<%= text_field :user, :handle , {:class => "content" } %>
						<br>
					</div>
					
					<div class="row">
						<label class="label">Email Address</label>
						<%= text_field :user, :email, {:class => "content"} %>
						<br>
					</div>

					<div class="row">
						<label class="label">Password</label>
						<%= password_field :user, :password, {:class => "content"} %>
						<br>
					</div>
					
					<div class="row">
						<label class="label">Confirm Password</label>
						<%= password_field_tag "confirm_password", nil, :size => 30, :class => "content" %>			
						<br>
					</div>
					
					<div class="row" style="text-align:center;">
						<%= submit_tag "Create", :class => "trail_button" %>
						<br>
					</div>
					
						
					&nbsp;

			
			</div>
		<% end %>
	
	
	</div>
	<div class="left">
		<% form_tag :controller => :user, :action => :process_signon do %>
			<h2>Login with account</h2>
			<div class="account_form" style="border:1px solid #ccc">
					<div class="row">
						<label class="label">Email</label>
						<%= text_field :user, :email, :class => "content" %>
						<br>
					</div>
					
					<div class="row">
						<label class="label">Password</label>
						<%= password_field :user, :password, :class => "content" %>
						<br>
					</div>

					<p class="row" style="text-align:center;">
						<%= submit_tag "Login", :class => "trail_button" %>
						<br>
					</p>
					&nbsp;
			</div>
		<% end %>
		
		
	</div>


	<div class="clear space_20"></div>
</div>
